//fonts
$StandardCT: 100% 'StandardCT-Expanded';
$StandardCT-new: 100% 'StandardCT';
$StandardCT-Condensed: 100% 'StandardCT-Condensed';
//colors
$white: #fff;

$prototype: #F2F2F2;

$black: #4F4F4F;
$black-1: #818080;

$yellow: #fed700;

$h_yellow: #eec400;
$h_black: #121212;
$silver: #7C818D;
$blue: #4193F9;

$gray-1: #4F4F4F;
$gray-2: #333333;

$red: #EA5759;
$green: #28cc39;
$pink: #EA5759;

$trans: .3s ease;

